body {
    background-color: white;
}

header {
    color: black;
    font-family:'Helvetica';
    float: center;
    margin-top:80px;
    font-size:20pt;
    letter-spacing: 10px;
    margin-left:350px;
}

div.title {
    font-family:'Helvetica';
    display: none;
    position: relative;
    float: center;
    text-align: justify;
    top: -500px;
    color: white;
}

div.title:hover, a.wrapper:hover + div {
    display: block;
    background-color: white;
    color: black;
    margin-left: 350px;
    width: 555px;
}

.image {
  margin-left: 140px;
  width: 1000px;
  height: 700px;
}

